@font-face{
  font-family: 'LXGW WenKai Medium'; 
  font-display: swap;
  src: url('https://ik.imagekit.io/ilksdm8fc/LXGWWenKai-Medium/result.css') format("truetype");
}




/*@font-face{
  font-family: 'HYWenHei-85W'; 
  font-display: swap;
  src: url('https://ik.imagekit.io/ilksdm8fc/HanYiWenHei85W/result.css') format("truetype");
}/*